<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bonade.visitor.mapper.RoleMapper">


    <select id="selectRoleByEnterprise" resultType="com.bonade.visitor.domain.entity.Role">
        SELECT r.*
        FROM vms_role r
        LEFT JOIN vms_role_access_approval_permission p ON r.id=p.role_id
        AND p.`source`=3 AND p.`permission_type`=9 AND p.`permission_range`=8
        AND p.`range_id`=#{enterpriseId}
    </select>
</mapper>
