<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bonade.visitor.mapper.VisitApprovalFormMapper">

    <select id="getApprovalForm" parameterType="Long" resultType="com.bonade.visitor.domain.entity.ApprovalForm">
    	SELECT
			id AS id,
			approval_id AS approvalId,
			field_type AS fieldType,
			field_text AS fieldText,
			field_value AS fieldValue,
			field_length AS fieldLength,
			field_desc AS fieldDesc,
			field_sort AS fieldSort
		FROM
			uaac_approval_form
		WHERE
			approval_id = #{approvalId}
		AND valid = 1
		ORDER BY
			field_sort ASC
    </select>

</mapper>
